/data
/modeling/YOLO/yolo11n/models
/venv
/.env
/modeling/YOLO/yolo11n/drug-detection-1
/modeling/segment/models
/utils/__pycache__
/modeling/segment/drug-detect-2-1
/modeling/segment/drug-detect-1
/modeling/segment/runs
.env
/modeling/segment/images
